<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <section th:fragment="blog-index" class="blog__area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section__title-wrapper text-center mb-55">
                        <div class="section__title mb-10">
                            <h2>Our Blog Posts</h2>
                        </div>
                        <div class="section__sub-title">
                            <p>Mirum est notare quam littera gothica quam nunc putamus parum claram!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="blog__slider owl-carousel">
                        <div class="blog__item mb-30">
                            <div class="blog__thumb fix">
                                <a href="blog-details.html" class="w-img"><img style="width: 350px;height: 220px;" src="../img/blog/blog-1.jpeg"
                                                                               alt="blog"></a>
                            </div>
                            <div class="blog__content">
                                <h4><a href="blog-details.html">Anteposuerit litterarum formas.</a></h4>
                                <div class="blog__meta">
                                    <span>By <a href="#">Shahnewaz Sakil</a></span>
                                    <span>/ September 14, 2017</span>
                                </div>
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
                                <a href="blog-details.html" class="os-btn">read more</a>
                            </div>
                        </div>
                        <div class="blog__item mb-30">
                            <div class="blog__thumb fix">
                                <a href="blog-details.html" class="w-img"><img style="width: 350px;height: 220px;" src="../img/blog/blog-2.jpeg"
                                                                               alt="blog"></a>
                            </div>
                            <div class="blog__content">
                                <h4><a href="blog-details.html">Hanging fruit to identify</a></h4>
                                <div class="blog__meta">
                                    <span>By <a href="#">Shahnewaz Sakil</a></span>
                                    <span>/ September 14, 2017</span>
                                </div>
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
                                <a href="blog-details.html" class="os-btn">read more</a>
                            </div>
                        </div>
                        <div class="blog__item mb-30">
                            <div class="blog__thumb fix">
                                <a href="blog-details.html" class="w-img"><img style="width: 350px;height: 220px;" src="../img/blog/blog-3.jpeg"
                                                                               alt="blog"></a>
                            </div>
                            <div class="blog__content">
                                <h4><a href="blog-details.html">The information highway will</a></h4>
                                <div class="blog__meta">
                                    <span>By <a href="#">Shahnewaz Sakil</a></span>
                                    <span>/ September 14, 2017</span>
                                </div>
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
                                <a href="blog-details.html" class="os-btn">read more</a>
                            </div>
                        </div>
                        <div class="blog__item mb-30">
                            <div class="blog__thumb fix">
                                <a href="blog-details.html" class="w-img"><img style="width: 350px;height: 220px;" src="../img/blog/blog-2.jpeg"
                                                                               alt="blog"></a>
                            </div>
                            <div class="blog__content">
                                <h4><a href="blog-details.html">Additional clickthroughs from</a></h4>
                                <div class="blog__meta">
                                    <span>By <a href="#">Shahnewaz Sakil</a></span>
                                    <span>/ September 14, 2017</span>
                                </div>
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
                                <a href="blog-details.html" class="os-btn">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</head>
<body>
</body>
</html>