<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <nav th:fragment="sideMobileMenu" class="side-mobile-menu d-block d-lg-none">
        <ul id="mobile-menu-active">
            <li class="active has-dropdown"><a href="index.html">Home</a>
                <ul class="submenu transition-3">
                    <li><a href="index.html">Home Style 1</a></li>
                    <li><a href="index-2.html">Home Style 2</a></li>
                    <li><a href="index-3.html">Home Style 3</a></li>
                    <li><a href="index-4.html">Home Style 4</a></li>
                    <li><a href="index-5.html">Home Style 5</a></li>
                    <li><a href="index-6.html">Home Style 6</a></li>
                </ul>
            </li>
            <li class="mega-menu has-dropdown"><a href="shop.html">Shop</a>
                <ul class="submenu transition-3" data-background="../img/bg/mega-menu-bg.jpg">
                    <li class="has-dropdown">
                        <a href="shop.html">Shop Pages</a>
                        <ul>
                            <li><a href="shop.html">Standard Shop Page</a></li>
                            <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                            <li><a href="shop-4-col.html">Shop 4 Column</a></li>
                            <li><a href="shop-3-col.html">Shop 3 Column</a></li>
                            <li><a href="shop.html">Shop Page</a></li>
                            <li><a href="shop.html">Shop Page </a></li>
                            <li><a href="shop.html">Shop Infinity</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="shop.html">Products Pages</a>
                        <ul>
                            <li><a href="product-details.html">Product Details</a></li>
                            <li><a href="product-details.html">Product Page V2</a></li>
                            <li><a href="product-details.html">Product Page V3</a></li>
                            <li><a href="product-details.html">Product Page V4</a></li>
                            <li><a href="product-details.html">Simple Product</a></li>
                            <li><a href="product-details.html">Variable Product</a></li>
                            <li><a href="product-details.html">External Product</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="shop.html">Other Shop Pages</a>
                        <ul>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="cart.html">Shopping Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="login.html">Login</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-dropdown"><a href="blog-index.html">Blog</a>
                <ul class="submenu transition-3">
                    <li><a href="blog-index.html">Blog</a></li>
                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                    <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                    <li><a href="blog-2-col.html">Blog 2 Column</a></li>
                    <li><a href="blog-2-col-mas.html">BLog 2 Col Masonary</a></li>
                    <li><a href="blog-3-col.html">Blog 3 Column</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li class="has-dropdown"><a href="shop.html">Pages</a>
                <ul class="submenu transition-3">
                    <li><a href="wishlist.html">Wishlist</a></li>
                    <li><a href="cart.html">Shopping Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="error.html">Error 404</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</head>
<body>

</body>
</html>